* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("https://cdn.imgchest.com/files/d7ogckv9my9.png");
    opacity: .5;
    background-repeat: no-repeat;
}

.container {
    max-width: 1400px;
    display: flex; 
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}

.container > * {
    background-color: lightblue;
    font-size: 10rem;
    color: blue;
    border: 2px dashed blue;
    flex-grow: 1;
    flex-shrink: 1;
    height: 200px;
}

.box1 {
    flex-basis: 741px;
}
.box2 {
    flex-basis: 641px;
}

.box3 {
    flex-basis: 1440px;
}

.box4 {
    flex-basis: 100px;
}

.box5 {
    flex-basis: 400px;
}

.box6 {
    flex-basis: 400px;
}